*{
    background-color: aqua;
}

.container{
    
    width: 30%;
    background-color: rgb(218,244,192);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    margin: auto;
    align-items: center;
    
}

.input-field{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
.input-field:hover{
    box-shadow: 0 0 10px blue;
}

.Register{
    width: min-content;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.Register:hover{
    transform: scale(1.2);
}
